---
title: How to Transition into AI/ML from Another Major in 2024
image: /assets/img/research/Transition_into_AIML/Transition_into_AIML_Cover.jpg
description: >
  The market has shifted in 2022. What to do in 2024?
---

0. this unordered seed list will be replaced by toc as unordered list
{:toc}


I've seen a lot of discussions on this topic, and the advice tends to be fairly consistent across various situations.

## It’s a Tough Journey

To be blunt: The competition is fierce. A new grad job posting on LinkedIn can attract over 100 applicants in just a few hours, sometimes even reaching over 1,000. As a recruiter, how do you sift through that many applications?

Typically, interviewers rank candidates based on their degree, internships, work experience, and the reputation of their institutions. If I were a recruiter, I would eliminate the bottom half without a second glance. With the remaining pool, I’d carefully review the résumés to identify quality candidates. This may not be the universal approach, but it’s effective. Nobody cares about false negatives if there are that many applicants. There are likely enough true positives.


<br>
<p align="center"><img src="/assets/img/research/Transition_into_AIML/Transition_into_AIML_fig1.jpg" alt="Christian Haller fig1" style="width:480px"></p>
<br>
Photo by <a href="https://unsplash.com/@googledeepmind">Google DeepMind</a> on <a href="https://unsplash.com/photos/a-large-group-of-colorful-blocks-lISkvdgfLEk">Unsplash</a>
{:.figcaption}


## Breaking into the AI/ML Field in 2024

### Get an AI/ML-Related Degree

The stories of people breaking into AI/ML without a relevant degree are mostly from the 2000s and 2010s. Today, unless you have a prestigious degree, like one from Harvard, breaking into AI/ML without a relevant degree is nearly impossible. If you lack an AI/ML or a related degree, your application might not even make it past initial screenings.

You might argue that many industry professionals don’t have AI/ML degrees. They entered the field during times of rapid industry growth when demand outstripped supply. These individuals now have work experience to offset their lack of a formal AI/ML education. If you’re a non-AI/ML major (excluding fields like math or physics) and want to break into tech, consider pursuing a Master’s in AI/ML. But before you do, browse forums like the subreddits [forums like r/cscareerquestions](https://www.reddit.com/r/cscareerquestions/){:target="_blank"} or [ r/MLQuestions](https://www.reddit.com/r/MLQuestions/ ){:target="_blank"}to see how many new grads with relevant degrees struggle to find jobs. Ask yourself if you’ll be among the top candidates who can secure a decent job.


<br>
<p align="center"><img src="/assets/img/research/Transition_into_AIML/Transition_into_AIML_fig2.jpg" alt="Christian Haller fig2" style="width:480px"></p>
<br>
Photo by <a href="https://unsplash.com/@cassi_josh">Cassi Josh</a> on <a href="https://unsplash.com/photos/a-red-and-blue-abstract-painting-lhnOvu72BM8">Unsplash</a>
{:.figcaption}


### Gain Internships or Semi-Professional Experience

Internships are tough to get, but they’re invaluable. The interview process for internships is usually simpler than for full-time positions, but the supply and demand imbalance still exists. 

Here’s how you can build your résumé to land an internship:
- **Contribute to Open Source:** Achieving significant contributor status in a well-adopted open-source AI/ML project shows you’re a respected programmer.
- **Launch Projects:** Creating apps or websites with real user traffic is impressive
- **Research Assistant Roles:** RAs are often available on campus and can be a great way to gain experience
- **Join Student Groups:** Participate in groups like AI clubs or volunteer organizations that involve programming
- **Personal Projects:** While personal projects are a last priority, they can still be beneficial if they are complex, clean, and well-documented

<br>
<p align="center"><img src="/assets/img/research/Transition_into_AIML/Transition_into_AIML_fig3.jpg" alt="Christian Haller fig3" style="width:480px"></p>
<br>
Photo by <a href="https://unsplash.com/@rgaleriacom">Ricardo Gomez Angel</a> on <a href="https://unsplash.com/photos/gray-digital-wallpaper-9AdeEdYB2yk">Unsplash</a>
{:.figcaption}


### Master AI/ML Fundamentals and Technical Interviews

Internships and résumé building are just the start. To get through the interview process, you need strong AI/ML fundamentals. Courses in Machine Learning, Deep Learning, and Statistical Analysis are critical. These subjects not only help you with technical interviews but also with understanding and solving problems on platforms like Leetcode.

Start practicing Leetcode after you’ve completed foundational courses. Follow guides like Blind 75 or Neetcode 150. Focus on understanding solutions rather than memorizing them. If you need to memorize, focus on templates for common algorithms and techniques used in AI/ML.

<br>
<p align="center"><img src="/assets/img/research/Transition_into_AIML/Transition_into_AIML_fig4.jpg" alt="Christian Haller fig4" style="width:480px"></p>
<br>
Photo by <a href="https://unsplash.com/@badashphotos">Ash Edmonds</a> on <a href="https://unsplash.com/photos/blue-and-red-triangles-wallpaper-0aWZdK8nK2I">Unsplash</a>
{:.figcaption}


### Prepare for Behavioral Interviews

Behavioral interviews are crucial, especially for new grads who are hired more for their potential than their achievements. 

Key points to demonstrate:
- **Pleasant to Work With:** Show that you’re a decent human being who is enjoyable to work with
- **Coachable:** Display an openness to feedback and the ability to adapt
- **Leadership and Company Principles:** Research the company’s values and align your responses to reflect them


<br>
<p align="center"><img src="/assets/img/research/Transition_into_AIML/Transition_into_AIML_fig5.jpg" alt="Christian Haller fig5" style="width:480px"></p>
<br>
Photo by <a href="https://unsplash.com/@sunx">Li Zhang</a> on <a href="https://unsplash.com/photos/an-abstract-red-and-orange-background-with-curves-K-DwbsTXliY">Unsplash</a>
{:.figcaption}



### Actual Skills vs. Potential

We don’t expect new grads to contribute immediately. We hire those who have the potential to grow with the company. Sound AI/ML fundamentals and basic coding skills are often enough if you show the capacity to learn and grow.

But remember, if you can’t get past the initial recruitment stages, your skills won’t matter. Focus on building a strong résumé and taking your studies and extracurricular activities seriously. In this competitive market, every advantage counts.

**Good luck to everyone aiming to enter the field!**