{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<br>
<br>

<div align="center"><applause-button  color="aqua" multiclap="true" style="width: 90px; height: 90px; margin-bottom: 40px; display: block;"></applause-button>

<div align="center">
<button class="btn btn-sm btn-primary" onclick=" window.open('https://github.com/ChristianHallerX/ChristianHallerX.github.io/edit/master/projectblog/_posts/{{ page.relative_path }}','_blank')" value="Edit on GitHub">
  <small class="icon-github"></small> Edit Post on Github
</button>
