{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<meta property="og:title" content="Home | Christian Haller"/>
<meta property="og:image" content="https://raw.githubusercontent.com/ChristianHallerX/ChristianHallerX.github.io/master/Website_Preview.png"/>
<meta property="og:description" content="Geoscientist and Machine Learning Dev"/>
<meta property="og:url" content="https://christianhallerx.github.io/" />

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}